.banner2_full {
    height: 500px;
    min-height: 550px;
    background-image: linear-gradient(180deg, rgba(34, 34, 34, 0.17), #222), url(./src.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    margin-top: 40px;
    width: 100%;
    background-color: #eee;
}

.words2 {
    float: right;
    justify-content: right;
    margin-left: 55%;
    display: flex;
    flex-direction: column;
    padding-top: 120px !important;
}

.words2 h1 {
    width: 90%;
    margin-left: 10px;
    color: #f9f9f9;
    font-size: 45px !important;
    line-height: 1.2;
    text-align: right;
}

.words2 h2 {
    width: 60%;
    margin: 10px 0px 25px 190px;
    color: #f9f9f9;
    font-size: 18px !important;
    text-align: right;
    font-family: 'Sen', sans-serif;
}

.words2 button {
    width: 240px !important;
    background-color: #fff;
    color: #222;
    border: none;
    font-family: sans-serif;
    font-weight: 700;
    margin-left: 51%;
}

.words2 button:hover {
    background-color: #eb5757 !important;
    color: #fff !important;
    border: #eb5757 !important;
    transition: border-color 300ms ease, background-color 300ms ease;
}

@media (max-width:900px) {
    .banner2_full {
        width: 100%;
    }

    .words2 h2 {
        width: 60%;
        margin: 10px 0px 25px 33% !important;
        color: #f9f9f9;
        font-size: 18px;
        text-align: right;
    }

    .words2 button {
        margin-left: 34% !important;
    }
}

@media (max-width:760px) {
    .banner2_full {
        width: 100%;
    }

    .words2 h1 {
        width: 400px !important;
        margin-left: 0 !important;

    }

    .words2 button {
        margin-left: 33% !important;
    }
}

@media (max-width:400px) {
    .banner2_full {
        width: 100%;
    }

    .words2 {
        margin-top: 150px !important;
    }

    .words2 h1 {
        width: 140px !important;
        font-size: 25px !important;
        margin: 40px 10px 0px 0px;
    }

    .words2 h1 {
        width: 400px !important;
        margin-left: 0 !important;

    }
.words2 h2{
    width: 60%;
    margin: 10px 0px 25px 190px;
    color: #f9f9f9;
    font-size: 13px !important;
    text-align: right;
    font-family: 'Sen', sans-serif;
}
    .words2 button {
        margin-left: 46% !important;
        font-size: 13px !important;
        font-weight: bolder !important;
        width: 190px !important;
    }
}